@import url("login.css");
.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
}

.toggle {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
  opacity: 0.7;
}

